.result{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.result p{
    color: antiquewhite;
    border: 1px solid burlywood;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    margin-top: 30px;
}

.result button{
    background: white;
    border: 1px red;
    color: rgb(21, 24, 24);
    font-size: 0.75rem;
    padding: 0.2rem 0.6rem;
    margin-top: 30px;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}
.result button.copied{
    background-color: rgb(149, 149, 25);
    color: antiquewhite;
}

.noData{
    color: aliceblue;
    font-size: 1rem;
}
